.h1 {
    font-size: 40px;
    text-align: center;
    letter-spacing: 1.7px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 2.8vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    /* width:100%; */
    justify-items: center;
}

@media (max-width: 850px) {
    .container {
        grid-template-columns: repeat(3, 1fr); /* Ändere die Anzahl der Spalten auf eins (eine Karte pro Zeile) */
    }
}

@media (min-width: 1500px) {
    .container {
        grid-template-columns: repeat(5, 1fr); /* Ändere die Anzahl der Spalten auf eins (eine Karte pro Zeile) */
    }
}