.mainContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container {
    animation: opening 1.25s ease forwards;
    display: flex;
    flex-flow: column nowrap;
    background-color: #33302d;
    border-radius: 20px 8px 20px 8px;
    margin-bottom: 2em;
    width:95%;
    padding-bottom:1.4em;
}

.h1 {
    color:#e9e7e0;
    font-size: 30px;
    letter-spacing: 2.5px;
    padding:40px 0px 12px 14px;
    font-weight: 500;
}

@keyframes opening { 
    0% {
        opacity: 40%;
        transform: translateY(9px);
    }
    100% {
       opacity: 100%;
       transform: translateY(0px);
    }
}