.container {
    display:flex ;
    flex-flow: row;
    justify-content: space-between;
    padding:45px 45px 45px 0px;
    transition: all 1s ease;
    overflow: hidden; 
    white-space: nowrap;
    width:100%;
    top:28vh;
    left:100%;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    animation: moving 20s linear infinite; 
}

.container2 {
    display:flex ;
    flex-flow: row;
    justify-content: space-between;
    padding:45px 45px 45px 0px;
    transition: all 1s ease;
    overflow: hidden; 
    white-space: nowrap;
    width:100%;
    position: absolute;
    left:100%;
    top:28vh;
    overflow: hidden;
    white-space: nowrap;
    animation: moving 20s linear infinite;
    animation-delay: 10s;
}

.innerContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width:80px;
}

.p {
    text-align: center;
}

.image {
    width:4vw;
    height: 4vw;
}




/* KEYFRAMES */

@keyframes moving { 
    0% {
        left:100%;
    }
    100% {
        left:-100%;
    }
}

@keyframes moving2 { 
    0% {
        left:0%;
    }
    100% {
        left:-100%;
    }
}