.container {
    /* margin-top:0.6em; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    animation: opening 1.4s ease forwards;
    height: 100vh;
    overflow: hidden; 
}

.hContainer {
    margin-top:5em;
    display: flex;
    flex-flow: column nowrap;
    width:80vw;
}

.firstHDiv{
    display: flex;
    justify-content: start;
    line-height: 6px;
}

.secondHDiv{
    display: flex;
    justify-content: end;
    line-height: 1px;
    width: 100%;
}

.h1 {
    font-size: 9vw;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;
}

.h2 {
    font-size: 4vw;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
}






@keyframes opening { 
    0% {
        opacity: 40%;
        transform: translateY(9px);
    }
    100% {
       opacity: 100%;
       transform: translateY(0px);
    }
}